<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Angular 13 CRUD Operations Demo</a>

  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/college-list">Show collegue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/college-book">Add collegue</a>
      </li>
    </ul>
  </div>
</nav>


<div class="px-4 py-5 my-5 text-center">

  <h1 class="display-5 fw-bold">Collegue :</h1>
  <ul>
    <div class="lead mb-4" *ngIf="selectedCollegue">
      <img class="col-lg-1 col-sm-2 rounded-circle" [src]="getImageDir(selectedCollegue)" alt="image"/>
      <br>
      {{selectedCollegue?.name}}
      {{selectedCollegue?.present}}

    </div>
    <button class="btn btn-primary align-items-center" type="button" (click)="onSelect()"> Cliquez ici pour tirer au
      sort
    </button>
  </ul>

</div>


